repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.5.5
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.16.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf] # Force LF line endings
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.16
    hooks:
      - id: uv-export
        args:
          - --no-hashes
          - --output-file=requirements.txt
          - --no-dev
      - id: uv-export
        name: uv-export (dev)
        args:
          - --no-hashes
          - --output-file=requirements-dev.txt
          - --dev
      - id: uv-lock
