annotated-types==0.7.0 
multimethod==1.10 
mypy-extensions==1.0.0 
numpy==2.0.1 
packaging==24.1 
pandas==2.2.2 
pandera==0.20.3 
patsy==0.5.6 
pydantic-core==2.20.1 
pydantic==2.8.2 
python-dateutil==2.9.0.post0 
pytz==2024.1 
scipy==1.14.0 
six==1.16.0 
statsmodels==0.14.2 
typeguard==4.3.0 
typing-extensions==4.12.2 
typing-inspect==0.9.0 
tzdata==2024.1 
wrapt==1.16.0 
